<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss.SSS} [%5p] %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="append" value="true"/>
        <param name="file" value="logs/mcrouter.log"/>

        <param name="Encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy.MM.dd HH:mm:ss.SSS} [%5p] %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="resultsAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="append" value="true"/>
        <param name="file" value="result/result.txt"/>

        <param name="Encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>

    <logger name="com.gc.logic.WorkResultWriter" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="resultsAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <logger name="com.gc" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>

</log4j:configuration>